.question_choices{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .question_choices > div{
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .question_choices > div > button{
    width: 80%;
    padding: .5rem 1rem;
  }

  .answer_button{
    border-radius: 7px;
    background-color: white;
  }

  .answer_choosen{
    background-color: black !important;
    color: white !important;
    font-weight: bold;
  }

  .answer_correct{
    background-color: white;
    color: black;
  }
  .answer_wrong{
    background-color: lightgray;
    color: lightslategray;
  }