.container{
  width: 50%;
  height: 90vh;
  margin: 1rem auto;
  background-color: rgb(250, 248, 248);

  overflow: scroll;
}

.question_progress{
  width: 80%;
  height: 20px;
  background-color: lightslategray;
}

.question_header > h1{
  font-weight: 300;
}
.main_container{
  width: 80%;
  height: 90%;
  margin: 1rem auto;
  overflow: scroll;
  padding: .5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.main_container .question{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.question > div{
  margin-top: 1rem;
}



/* Question Header */
.question_header > *{
  margin: 0px;
  margin-top: .2rem;
}

.question_header > p{
  color: lightslategray;
  font-size: 14px;
}


/* Question Body */
.question_body{
  font-size: 25px;
  padding: .5rem;
}


/* Answer Section */

.answer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer > p{
  font-size: 30px;
  font-weight: bold;
  margin: 1rem;
}

.answer > button{
  padding: 1rem 6rem;
  font-size: 20px;
}

/* SCORE SECTION */
