.container{
  width: 80%;
  height: 90vh;
  margin: 1rem auto;
  border: 1px solid black;
  

  overflow: scroll;
}

.question_progress{
  width: 80%;
  height: 20px;
  background-color: lightslategray;
}

.main_container{
  width: 80%;
  height: 90%;
  margin: 1rem auto;
  border: 1px solid black;
  overflow: scroll;
  padding: .5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_container > div{
  border: 1px solid black;
  overflow: scroll;
}

.main_container .question{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid red;
  overflow: scroll;
}

.question > div{
  /* border: 1px solid black; */
  margin-top: 1rem;
}



/* Question Header */
.question_header > *{
  margin: 0px;
  margin-top: .2rem;
}

.question_header > p{
  color: lightslategray;
  font-size: 14px;
}


/* Question Body */
.question_body{
  font-size: 25px;
  padding: .5rem;
}

/* Question Choice */
.question_choices{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.question_choices > div{
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question_choices > div > button{
  width: 80%;
  padding: .5rem 1rem;
}

/* Answer Section */

.answer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer > p{
  font-size: 30px;
  font-weight: bold;
  margin: 1rem;
}

.answer > button{
  padding: 1rem 6rem;
  font-size: 20px;
}